/* || General Styles */
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 95%;
  margin: 0 auto;
  background-color: hsl(0, 0%, 4%);
}

a {
  color: white;
}

/* || Utilities */
.debugging {
  border: 1px solid red;
}

.flex {
  display: flex;
}

.noBullets {
  list-style-type: none;
}

/* || Main Navigation */
.mainNavigation {
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.mainNavigation-menu {
  display: none;
}

.hamburger > div {
  width: 22px;
  height: 3px;
  background-color: white;
}

.hamburger > div:last-of-type {
  margin-top: .7rem;
}